<div class='container-fluid'>
  <p id="notice"><%= notice %></p>
  <div class='row py-3 px-3'>
    <div class='col-12 col-md-8'>
      <h3 class='text-center'>Employees</h3>
      <table id='employee-table' class="table table-dark table-hover">
        <thead  class="thead-light">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extension</th>
            <th>Start date</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.name %></td>
              <td><%= employee.position %></td>
              <td><%= employee.office %></td>
              <td><%= employee.extension %></td>
              <td><%= employee.start_date %></td>
              <td><%= link_to 'Show', employee %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

    <div class='col-12 col-md-4'>
      <h3 class="text-center">New Employee</h3>
      <%= render 'form', employee: @employee %>
    </div>
  </div>
</div>
